body {
    background-color: lightgreen;
}

h1 {
    text-align: center;
    color: black;
    font-family: Georgia;
}

h2 {
    color: black;
    font-family: Arial;
}

p {
    font-family: Arial;
    font-style: italic;
}

ol {
    font-family: Arial;
    font-style: italic;
}