body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: red;
    font-family: Georgia;
}
h2 {
    color: blue;
    font-family: Arial;
}
h4{
    background-color: burlywood;
}
p {
    font-family: Arial;
    font-style: italic
}